<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gallery Connect</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>

<div class="webcard-page-container">
  <div class="webcard-image">
    <%= image_tag 'GBackground.png' %>
</div>
  <h2>Gallery Connect Card: <span>Tell us about yourself!</span></h2>
    <div class="web-card-form">
      <%= form_for [@card] do |f|%>
      <%= f.text_field :first_name %>
      <%= f.label "First Name" %><br /><hr />
      <%= f.text_field :last_name %>
      <%= f.label "Last Name" %><br /><hr />
      <%= f.email_field :email %>
      <%= f.label "Email" %><br /><hr />
      <%= f.text_field :phone %>
      <%= f.label "Phone" %><br /><hr />
      <%= f.text_field :address %>
      <%= f.label :address %><br /><hr />
      <%= f.text_field :city %>
      <%= f.label :city %><br /><hr />
      <%= f.text_field :state %>
      <%= f.label :state %><br /><hr />
      <%= f.text_field :zipcode %>
      <%= f.label :zipcode %><br /><hr />
      <%= f.text_area :prayer, :rows=>"2", :cols=>"35"%>
      <%= f.label "Prayer Request" %><br /><hr />
      <%= f.text_area :notes, :rows=>"2", :cols=>"35" %>
      <%= f.label "Comments" %><br /><hr />
      <%= f.submit "Submit", class:"create-button", id:"card-submit" %>
      <% end %>
  </div>
</div>

<div class="confirm-page">
  <div id="dialog" title="Gallery Church">
    <p>Your Connection Card has been received!</p>
  </div>
</div>
 
 
</body>
<script>
$('#card-submit').click(function(){
  $( "#dialog" ).dialog();
});
</script>
</html>