<!DOCTYPE html>
<div class='coverpage-container'>
  <div class='title-image'>
    <%= image_tag('GC.png') %>
      <%= link_to "Sign Up Here", new_user_path%>
    <hr />
    <div class="login">
        <%= form_tag session_path do%> 
        <%= label_tag "email: " %>
        <%= text_field_tag :email%>
        <%= label_tag "password: " %>
        <%= password_field_tag :password%>
        <%= submit_tag "Login!", class: 'loginbutton' %>
        <% end %>
      </div>  
  </div>
  <div class="flash-message-login">
        <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
  </div>
  <div class='footer-image'>
  </div>
</div>
